* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
ul > li:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}